status	key	command
Composition	Backspace	Backspace
Composition	Ctrl @	ConvertToHalfAlphanumeric
Composition	Ctrl [	Cancel
Composition	Ctrl g	Delete
Composition	Ctrl h	Backspace
Composition	Ctrl i	ConvertToFullKatakana
Composition	Ctrl k	MoveCursorLeft
Composition	Ctrl l	MoveCursorRight
Composition	Ctrl Left	MoveCursorToBeginning
Composition	Ctrl m	Commit
Composition	Ctrl n	Convert
Composition	Ctrl o	ConvertToHalfWidth
Composition	Ctrl p	ConvertToFullAlphanumeric
Composition	Ctrl Right	MoveCursorToEnd
Composition	Ctrl Space	Convert
Composition	Ctrl u	ConvertToHiragana
Composition	Delete	Delete
Composition	Down	Commit
Composition	Eisu	ToggleAlphanumericMode
Composition	Enter	Commit
Composition	ESC	Cancel
Composition	F2	ConvertWithoutHistory
Composition	F6	ConvertToHiragana
Composition	F7	ConvertToFullKatakana
Composition	F8	ConvertToHalfWidth
Composition	F9	ConvertToFullAlphanumeric
Composition	Henkan	IMEOn
Composition	Hiragana	IMEOn
Composition	Kana	ToggleAlphanumericMode
Composition	Left	MoveCursorLeft
Composition	Muhenkan	IMEOff
Composition	OFF	IMEOff
Composition	ON	IMEOn
Composition	Right	MoveCursorRight
Composition	Shift Henkan	Convert
Composition	Shift Muhenkan	ToggleAlphanumericMode
Composition	Shift Space	Convert
Composition	Space	Convert
Composition	Tab	PredictAndConvert
Conversion	Backspace	Cancel
Conversion	Ctrl @	ConvertToHalfAlphanumeric
Conversion	Ctrl [	Cancel
Conversion	Ctrl b	SegmentFocusLeft
Conversion	Ctrl f	SegmentFocusRight
Conversion	Ctrl h	Cancel
Conversion	Ctrl i	ConvertToFullKatakana
Conversion	Ctrl k	SegmentWidthShrink
Conversion	Ctrl l	SegmentWidthExpand
Conversion	Ctrl Left	SegmentFocusFirst
Conversion	Ctrl m	Commit
Conversion	Ctrl n	ConvertNext
Conversion	Ctrl o	ConvertToHalfWidth
Conversion	Ctrl p	ConvertPrev
Conversion	Ctrl Right	SegmentFocusLast
Conversion	Ctrl Shift Left	SegmentWidthShrink
Conversion	Ctrl Shift Right	SegmentWidthExpand
Conversion	Ctrl Space	ConvertNext
Conversion	Ctrl u	ConvertToHiragana
Conversion	Down	ConvertNext
Conversion	Eisu	ToggleAlphanumericMode
Conversion	Enter	Commit
Conversion	ESC	Cancel
Conversion	F1	ReportBug
Conversion	F3	ReportBug
Conversion	F6	ConvertToHiragana
Conversion	F7	ConvertToFullKatakana
Conversion	F8	ConvertToHalfWidth
Conversion	F9	ConvertToFullAlphanumeric
Conversion	Henkan	IMEOn
Conversion	Hiragana	IMEOn
Conversion	Insert	Cancel
Conversion	Left	SegmentFocusLeft
Conversion	Muhenkan	ConvertToHiragana
Conversion	OFF	IMEOff
Conversion	ON	IMEOn
Conversion	Right	SegmentFocusRight
Conversion	Shift Henkan	ConvertPrevPage
Conversion	Shift Left	SegmentWidthShrink
Conversion	Shift Right	SegmentWidthExpand
Conversion	Shift Space	ConvertNext
Conversion	Space	ConvertNext
Conversion	Tab	PredictAndConvert
Conversion	Up	ConvertPrev
DirectInput	Henkan	IMEOn
DirectInput	Hiragana	IMEOn
DirectInput	Muhenkan	IMEOff
Precomposition	Eisu	ToggleAlphanumericMode
Precomposition	Henkan	IMEOn
Precomposition	Hiragana	IMEOn
Precomposition	Kana	ToggleAlphanumericMode
Precomposition	Muhenkan	IMEOff
Precomposition	ON	IMEOn
Precomposition	Shift Henkan	ToggleAlphanumericMode
Precomposition	Shift Muhenkan	ToggleAlphanumericMode
Precomposition	Shift Space	InsertSpace
Precomposition	Space	InsertAlternateSpace
Prediction	Ctrl Down	ConvertNext
Prediction	Ctrl Up	ConvertPrev
Prediction	Down	ConvertNext
Prediction	Up	ConvertPrev
Suggestion	Ctrl Down	PredictAndConvert
Suggestion	Ctrl Enter	CommitFirstSuggestion
Suggestion	Down	PredictAndConvert
Suggestion	Shift Enter	CommitFirstSuggestion
