status	key	command
Conversion	Up	ConvertPrev
Prediction	Up	ConvertPrev
Composition	Tab	PredictAndConvert
Conversion	Tab	PredictAndConvert
Composition	Space	Convert
Conversion	Space	ConvertNext
Precomposition	Space	InsertSpace
Conversion	Shift Up	ConvertPrevPage
Precomposition	Shift Space	InsertAlternateSpace
Composition	Shift Space	Convert
Conversion	Shift Space	ConvertNext
Composition	Shift Muhenkan	ToggleAlphanumericMode
Precomposition	Shift Muhenkan	ToggleAlphanumericMode
DirectInput	Shift Henkan	Reconvert
Precomposition	Shift Henkan	Reconvert
Conversion	Shift Henkan	ConvertPrevPage
Composition	Shift Henkan	Convert
Suggestion	Shift Enter	CommitFirstSuggestion
Conversion	Shift Down	ConvertNextPage
Composition	Right	MoveCursorRight
Conversion	Right	SegmentWidthExpand
DirectInput	Muhenkan	IMEOff
Precomposition	Muhenkan	IMEOff
Composition	Muhenkan	IMEOff
Composition	Left	MoveCursorLeft
Conversion	Left	SegmentWidthShrink
Composition	Kana	ToggleAlphanumericMode
Precomposition	Kana	ToggleAlphanumericMode
Conversion	Insert	Cancel
Composition	Hiragana	IMEOn
Conversion	Hiragana	ToggleAlphanumericMode
Precomposition	Henkan	IMEOn
DirectInput	Henkan	IMEOn
DirectInput	Hankaku/Zenkaku	IMEOn
Composition	Hankaku/Zenkaku	IMEOff
Conversion	Hankaku/Zenkaku	IMEOff
Precomposition	Hankaku/Zenkaku	IMEOff
Composition	F9	ConvertToFullAlphanumeric
Conversion	F9	ConvertToFullAlphanumeric
Composition	F8	ConvertToHalfWidth
Conversion	F8	ConvertToHalfWidth
Composition	F7	ConvertToFullKatakana
Conversion	F7	ConvertToFullKatakana
Composition	F6	ConvertToHiragana
Conversion	F6	ConvertToHiragana
Composition	F2	ConvertWithoutHistory
Composition	F10	ConvertToHalfAlphanumeric
Conversion	F10	ConvertToHalfAlphanumeric
Precomposition	F10	ToggleAlphanumericMode
Composition	Enter	Commit
Conversion	Enter	Commit
Composition	Eisu	ToggleAlphanumericMode
Conversion	Eisu	ToggleAlphanumericMode
Precomposition	Eisu	ToggleAlphanumericMode
Composition	ESC	Cancel
Conversion	ESC	Cancel
Suggestion	Down	PredictAndConvert
Conversion	Down	CommitOnlyFirstSegment
Prediction	Down	ConvertNext
Composition	Down	Commit
Composition	Delete	Delete
Composition	Ctrl u	ConvertToHiragana
Conversion	Ctrl u	ConvertToHiragana
Composition	Ctrl p	ConvertToFullAlphanumeric
Conversion	Ctrl p	ConvertPrev
Composition	Ctrl o	ConvertToHalfWidth
Conversion	Ctrl o	ConvertToHalfWidth
Composition	Ctrl n	Convert
Conversion	Ctrl n	ConvertNext
Composition	Ctrl m	Commit
Composition	Ctrl l	MoveCursorRight
Conversion	Ctrl l	SegmentWidthExpand
Composition	Ctrl k	MoveCursorLeft
Conversion	Ctrl k	SegmentWidthShrink
Conversion	Ctrl j	Cancel
Composition	Ctrl j	Cancel
Composition	Ctrl i	ConvertToFullKatakana
Conversion	Ctrl i	ConvertToFullKatakana
Conversion	Ctrl h	Cancel
Composition	Ctrl h	Backspace
Composition	Ctrl g	Delete
Conversion	Ctrl f	SegmentFocusRight
Composition	Ctrl f	SegmentFocusLast
Conversion	Ctrl b	SegmentFocusLeft
Conversion	Ctrl [	Cancel
Prediction	Ctrl Up	ConvertPrev
Composition	Ctrl Space	Convert
Conversion	Ctrl Shift Right	SegmentWidthExpand
Conversion	Ctrl Shift Left	SegmentWidthShrink
Composition	Ctrl Right	MoveCursorToEnd
Composition	Ctrl Left	MoveCursorToBeginning
Conversion	Ctrl Left	SegmentFocusFirst
Precomposition	Ctrl F7	LaunchWordRegisterDialog
Precomposition	Ctrl F12	LaunchConfigDialog
Suggestion	Ctrl Enter	CommitFirstSuggestion
Composition	Ctrl Eisu	ToggleAlphanumericMode
Conversion	Ctrl Eisu	ToggleAlphanumericMode
Precomposition	Ctrl Eisu	ToggleAlphanumericMode
Suggestion	Ctrl Down	PredictAndConvert
Prediction	Ctrl Down	ConvertNext
Precomposition	Ctrl Backspace	Undo
Composition	Ctrl @	ConvertToHalfAlphanumeric
Conversion	Ctrl @	ConvertToHalfAlphanumeric
Composition	Ctrl 9	ConvertToFullAlphanumeric
Conversion	Ctrl 9	ConvertToFullAlphanumeric
Composition	Ctrl 8	ConvertToHalfWidth
Conversion	Ctrl 8	ConvertToHalfWidth
Composition	Ctrl 7	ConvertToFullKatakana
Conversion	Ctrl 7	ConvertToFullKatakana
Composition	Ctrl 6	ConvertToHiragana
Conversion	Ctrl 6	ConvertToHiragana
Composition	Ctrl 2	ConvertWithoutHistory
Composition	Ctrl 0	ConvertToHalfAlphanumeric
Conversion	Ctrl 0	ConvertToHalfAlphanumeric
Precomposition	Ctrl 0	ToggleAlphanumericMode
Composition	Backspace	Backspace
Precomposition	Backspace	Revert
Conversion	Backspace	Cancel
Composition	Kanji	IMEOff
Composition	OFF	IMEOff
Composition	ON	IMEOn
Conversion	Kanji	IMEOff
Conversion	OFF	IMEOff
Conversion	ON	IMEOn
DirectInput	Kanji	IMEOn
DirectInput	ON	IMEOn
Precomposition	Kanji	IMEOff
Precomposition	OFF	IMEOff
Precomposition	ON	IMEOn
