Composition	Backspace	Backspace
Composition	Ctrl @	ConvertToHalfAlphanumeric
Composition	Ctrl Left	MoveCursorToBeginning
Composition	Ctrl Right	MoveCursorToEnd
Composition	Ctrl Space	Convert
Composition	Ctrl [	Cancel
Composition	Ctrl g	Delete
Composition	Ctrl h	Backspace
Composition	Ctrl i	ConvertToFullKatakana
Composition	Ctrl j	Cancel
Composition	Ctrl k	MoveCursorLeft
Composition	Ctrl l	MoveCursorRight
Composition	Ctrl m	Commit
Composition	Ctrl n	Convert
Composition	Ctrl o	ConvertToHalfWidth
Composition	Ctrl p	ConvertToFullAlphanumeric
Composition	Ctrl u	ConvertToHiragana
Composition	Down	Convert
Composition	ESC	Cancel
Composition	Eisu	ToggleAlphanumericMode
Composition	Enter	Commit
Composition	F10	ConvertToHalfAlphanumeric
Composition	F2	ConvertWithoutHistory
Composition	F6	ConvertToHiragana
Composition	F7	ConvertToFullKatakana
Composition	F8	ConvertToHalfWidth
Composition	F9	ConvertToFullAlphanumeric
Composition	Henkan	Convert
Composition	Hiragana	ToggleAlphanumericMode
Composition	Kana	InputModeHiragana
Composition	Left	MoveCursorLeft
Composition	Muhenkan	ToggleAlphanumericMode
Composition	OFF	IMEOff
Composition	ON	IMEOn
Composition	Right	MoveCursorRight
Composition	Shift Henkan	Convert
Composition	Shift Muhenkan	ToggleAlphanumericMode
Composition	Shift Space	Convert
Composition	Space	Convert
Composition	Tab	PredictAndConvert
Conversion	Backspace	Cancel
Conversion	Ctrl @	ConvertToHalfAlphanumeric
Conversion	Ctrl Left	SegmentFocusFirst
Conversion	Ctrl Right	SegmentFocusLast
Conversion	Ctrl Shift Left	SegmentWidthShrink
Conversion	Ctrl Shift Right	SegmentWidthExpand
Conversion	Ctrl Space	ConvertNext
Conversion	Ctrl [	Cancel
Conversion	Ctrl b	SegmentFocusLeft
Conversion	Ctrl f	SegmentFocusRight
Conversion	Ctrl h	Cancel
Conversion	Ctrl i	ConvertToFullKatakana
Conversion	Ctrl j	Cancel
Conversion	Ctrl k	SegmentWidthShrink
Conversion	Ctrl l	SegmentWidthExpand
Conversion	Ctrl m	Commit
Conversion	Ctrl n	ConvertNext
Conversion	Ctrl o	ConvertToHalfWidth
Conversion	Ctrl p	ConvertPrev
Conversion	Ctrl u	ConvertToHiragana
Conversion	Down	ConvertNext
Conversion	ESC	Cancel
Conversion	Eisu	ToggleAlphanumericMode
Conversion	Enter	Commit
Conversion	F10	ConvertToHalfAlphanumeric
Conversion	F6	ConvertToHiragana
Conversion	F7	ConvertToFullKatakana
Conversion	F8	ConvertToHalfWidth
Conversion	F9	ConvertToFullAlphanumeric
Conversion	Henkan	ConvertNextPage
Conversion	Hiragana	ToggleAlphanumericMode
Conversion	Insert	Cancel
Conversion	Left	SegmentWidthShrink
Conversion	OFF	IMEOff
Conversion	ON	IMEOn
Conversion	Right	SegmentWidthExpand
Conversion	Shift Henkan	ConvertPrevPage
Conversion	Shift Left	SegmentWidthShrink
Conversion	Shift Right	SegmentWidthExpand
Conversion	Shift Space	ConvertNext
Conversion	Space	ConvertNext
Conversion	Tab	PredictAndConvert
Conversion	Up	ConvertPrev
DirectInput	Ctrl F7	LaunchDictionaryTool
DirectInput	Henkan	IMEOn
DirectInput	ON	IMEOn
Precomposition	Eisu	InputModeHiragana
Precomposition	F10	ToggleAlphanumericMode
Precomposition	Henkan	ToggleAlphanumericMode
Precomposition	Kana	InputModeHiragana
Precomposition	Muhenkan	ToggleAlphanumericMode
Precomposition	OFF	IMEOff
Precomposition	ON	IMEOn
Precomposition	Shift Henkan	ToggleAlphanumericMode
Precomposition	Shift Muhenkan	ToggleAlphanumericMode
Precomposition	Shift Space	InsertSpace
Precomposition	Space	InsertAlternateSpace
Prediction	Ctrl Down	ConvertNext
Prediction	Up	ConvertPrev
Suggestion	Ctrl Down	PredictAndConvert
Suggestion	Ctrl Enter	CommitFirstSuggestion
Suggestion	Ctrl [	CommitFirstSuggestion
Suggestion	Ctrl ]	CommitFirstSuggestion
status	key	command
