status	key	command
Conversion	Backspace	Cancel
Composition	Backspace	Backspace
Conversion	Ctrl ,	SegmentFocusLeft
Conversion	Ctrl .	SegmentFocusRight
Composition	Ctrl [	Cancel
Conversion	Ctrl [	Cancel
Suggestion	Ctrl [	CommitFirstSuggestion
Suggestion	Ctrl ]	CommitFirstSuggestion
Composition	Ctrl @	ConvertToHalfAlphanumeric
Conversion	Ctrl @	ConvertToHalfAlphanumeric
Conversion	Ctrl b	SegmentFocusLeft
Prediction	Ctrl Down	ConvertNext
Suggestion	Ctrl Down	PredictAndConvert
Conversion	Ctrl e	Commit
Composition	Ctrl e	Commit
Suggestion	Ctrl Enter	CommitFirstSuggestion
Conversion	Ctrl f	SegmentFocusRight
DirectInput	Ctrl F7	LaunchDictionaryTool
Composition	Ctrl g	Delete
Conversion	Ctrl h	Cancel
Composition	Ctrl h	Backspace
Composition	Ctrl i	ConvertToFullKatakana
Conversion	Ctrl i	ConvertToFullKatakana
Composition	Ctrl j	Cancel
Conversion	Ctrl j	Cancel
Composition	Ctrl k	MoveCursorLeft
Conversion	Ctrl k	SegmentWidthShrink
Composition	Ctrl l	MoveCursorRight
Conversion	Ctrl l	SegmentWidthExpand
Composition	Ctrl Left	MoveCursorToBeginning
Conversion	Ctrl Left	SegmentFocusFirst
Composition	Ctrl m	Commit
Conversion	Ctrl m	Commit
Conversion	Ctrl n	ConvertNext
Composition	Ctrl n	Convert
Composition	Ctrl o	ConvertToHalfWidth
Conversion	Ctrl o	ConvertToHalfWidth
Conversion	Ctrl p	ConvertPrev
Composition	Ctrl p	ConvertToFullAlphanumeric
Composition	Ctrl Right	MoveCursorToEnd
Conversion	Ctrl Right	SegmentFocusLast
Conversion	Ctrl Shift Left	SegmentWidthShrink
Conversion	Ctrl Shift Right	SegmentWidthExpand
Conversion	Ctrl Space	ConvertNext
Composition	Ctrl Space	Convert
Composition	Ctrl u	ConvertToHiragana
Conversion	Ctrl u	ConvertToHiragana
Conversion	Down	ConvertNext
Composition	Down	Convert
Precomposition	Eisu	InputModeHiragana
Composition	Eisu	ToggleAlphanumericMode
Conversion	Eisu	ToggleAlphanumericMode
Composition	Enter	Commit
Conversion	Enter	Commit
Composition	ESC	Cancel
Conversion	ESC	Cancel
Precomposition	F10	ToggleAlphanumericMode
Composition	F10	ConvertToHalfAlphanumeric
Conversion	F10	ConvertToHalfAlphanumeric
Composition	F2	ConvertWithoutHistory
Composition	F6	ConvertToHiragana
Conversion	F6	ConvertToHiragana
Composition	F7	ConvertToFullKatakana
Conversion	F7	ConvertToFullKatakana
Composition	F8	ConvertToHalfWidth
Conversion	F8	ConvertToHalfWidth
Composition	F9	ConvertToFullAlphanumeric
Conversion	F9	ConvertToFullAlphanumeric
Precomposition	Henkan	ToggleAlphanumericMode
Conversion	Henkan	ConvertNextPage
Composition	Henkan	Convert
Composition	Hiragana	ToggleAlphanumericMode
Conversion	Hiragana	ToggleAlphanumericMode
Conversion	Insert	Cancel
Composition	Kana	InputModeHiragana
Precomposition	Kana	InputModeHiragana
Composition	Left	MoveCursorLeft
Conversion	Left	SegmentWidthShrink
Composition	Muhenkan	ToggleAlphanumericMode
Precomposition	Muhenkan	ToggleAlphanumericMode
Composition	Right	MoveCursorRight
Conversion	Right	SegmentWidthExpand
Composition	Shift Enter	Commit
Conversion	Shift Enter	Commit
Precomposition	Shift Henkan	ToggleAlphanumericMode
Conversion	Shift Henkan	ConvertPrevPage
Composition	Shift Henkan	Convert
Conversion	Shift Left	SegmentWidthShrink
Composition	Shift Muhenkan	ToggleAlphanumericMode
Precomposition	Shift Muhenkan	ToggleAlphanumericMode
Conversion	Shift Right	SegmentWidthExpand
Precomposition	Shift Space	InsertSpace
Conversion	Shift Space	ConvertNext
Composition	Shift Space	Convert
Conversion	Space	ConvertNext
Precomposition	Space	InsertAlternateSpace
Composition	Space	Convert
Composition	Tab	PredictAndConvert
Conversion	Tab	PredictAndConvert
Conversion	Up	ConvertPrev
Prediction	Up	ConvertPrev
Conversion	Ctrl Enter	Commit
Composition	OFF	IMEOff
Composition	ON	IMEOn
Conversion	OFF	IMEOff
Conversion	ON	IMEOn
DirectInput	Henkan	IMEOn
DirectInput	ON	IMEOn
Precomposition	OFF	IMEOff
Precomposition	ON	IMEOn
status	key	command
