status	key	command
Conversion	Backspace	Cancel
Composition	Backspace	Backspace
Conversion	Ctrl [	Cancel
Composition	Ctrl [	Cancel
Conversion	Ctrl @	ConvertToHalfAlphanumeric
Composition	Ctrl @	ConvertToHalfAlphanumeric
Conversion	Ctrl b	SegmentFocusLeft
Suggestion	Ctrl Down	PredictAndConvert
Prediction	Ctrl Down	ConvertNext
Suggestion	Ctrl Enter	CommitFirstSuggestion
Conversion	Ctrl f	SegmentFocusRight
DirectInput	Ctrl F7	LaunchDictionaryTool
Composition	Ctrl g	Delete
Conversion	Ctrl h	Cancel
Composition	Ctrl h	Backspace
Composition	Ctrl i	ConvertToFullKatakana
Conversion	Ctrl i	ConvertToFullKatakana
Conversion	Ctrl j	Cancel
Composition	Ctrl j	Cancel
Conversion	Ctrl k	SegmentWidthShrink
Composition	Ctrl k	MoveCursorLeft
Conversion	Ctrl l	SegmentWidthExpand
Composition	Ctrl l	MoveCursorRight
Conversion	Ctrl Left	SegmentFocusFirst
Composition	Ctrl Left	MoveCursorToBeginning
Conversion	Ctrl m	Commit
Composition	Ctrl m	Commit
Conversion	Ctrl n	ConvertNext
Composition	Ctrl n	Convert
Conversion	Ctrl o	ConvertToHalfWidth
Composition	Ctrl o	ConvertToHalfWidth
Conversion	Ctrl p	ConvertPrev
Composition	Ctrl p	ConvertToFullAlphanumeric
Conversion	Ctrl Right	SegmentFocusLast
Composition	Ctrl Right	MoveCursorToEnd
Conversion	Ctrl Shift Left	SegmentWidthShrink
Conversion	Ctrl Shift Right	SegmentWidthExpand
Conversion	Ctrl Space	ConvertNext
Composition	Ctrl Space	Convert
Conversion	Ctrl u	ConvertToHiragana
Composition	Ctrl u	ConvertToHiragana
Conversion	Down	ConvertNext
Composition	Down	Convert
Precomposition	Eisu	ToggleAlphanumericMode
Conversion	Eisu	ToggleAlphanumericMode
Composition	Eisu	ToggleAlphanumericMode
Conversion	Enter	Commit
Composition	Enter	Commit
Conversion	ESC	Cancel
Composition	ESC	Cancel
Precomposition	F10	ToggleAlphanumericMode
Conversion	F10	ConvertToHalfAlphanumeric
Composition	F10	ConvertToHalfAlphanumeric
Composition	F2	ConvertWithoutHistory
Conversion	F6	ConvertToHiragana
Composition	F6	ConvertToHiragana
Conversion	F7	ConvertToFullKatakana
Composition	F7	ConvertToFullKatakana
Conversion	F8	ConvertToHalfWidth
Composition	F8	ConvertToHalfWidth
Conversion	F9	ConvertToFullAlphanumeric
Composition	F9	ConvertToFullAlphanumeric
Precomposition	Henkan	ToggleAlphanumericMode
Conversion	Henkan	ConvertNextPage
Composition	Henkan	Convert
Conversion	Hiragana	ToggleAlphanumericMode
Composition	Hiragana	ToggleAlphanumericMode
Conversion	Insert	Cancel
Precomposition	Kana	InputModeHiragana
Composition	Kana	InputModeHiragana
Composition	Left	MoveCursorLeft
Conversion	Left	SegmentWidthShrink
Precomposition	Muhenkan	ToggleAlphanumericMode
Composition	Muhenkan	ToggleAlphanumericMode
Composition	Right	MoveCursorRight
Conversion	Right	SegmentWidthExpand
Precomposition	Shift Henkan	ToggleAlphanumericMode
Conversion	Shift Henkan	ConvertPrevPage
Composition	Shift Henkan	Convert
Conversion	Shift Left	SegmentWidthShrink
Precomposition	Shift Muhenkan	ToggleAlphanumericMode
Composition	Shift Muhenkan	ToggleAlphanumericMode
Conversion	Shift Right	SegmentWidthExpand
Precomposition	Shift Space	InsertSpace
Conversion	Shift Space	ConvertNext
Composition	Shift Space	Convert
Precomposition	Space	InsertAlternateSpace
Conversion	Space	ConvertNext
Composition	Space	Convert
Conversion	Tab	PredictAndConvert
Composition	Tab	PredictAndConvert
Prediction	Up	ConvertPrev
Conversion	Up	ConvertPrev
Composition	OFF	IMEOff
Composition	ON	IMEOn
Conversion	OFF	IMEOff
Conversion	ON	IMEOn
DirectInput	Henkan	IMEOn
DirectInput	ON	IMEOn
Precomposition	OFF	IMEOff
Precomposition	ON	IMEOn
